*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background-color:  var(--tg-theme-bg-color);
    font-family: monospace;
}

canvas {
  border: solid 1.5px var(--tg-theme-accent-text-color);
}

#tetris{
    background-color: white;
}

.key {
  position: relative;
  margin: 10px;
}

#rotateButton, #downButton, #leftButton, #rightButton {
  border: none;
  background: rgba(255, 0, 0, 0.001);
  border-radius: 50%;
  position: relative;
  font-size: 50px;
  color:  var(--tg-theme-text-color);
}

#rotateButton, #downButton {
  margin-left: 20px;
  margin-right: 20px;
}

#leftButton {
  margin-left: 0px;
  margin-right: 28px;
}


#rightButton {
  margin-left: 28px;
  margin-right: 0px;
}
